
<div class="text-center">
    <form enctype="multipart/form-data" asp-controller="Home" asp-action="Upload" method="post">
        <label>Fazer upload para S3</label>
        <input type="file" name="s3Form" />
        <input type="submit" value="Fazer Upload" >
    </form>
</div>